<a href="https://colab.research.google.com/github/Ramanmagar/Python-Practice/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#how to debug the program by using debug command
python -m pdb python-script.py

##What are Identifiers ?

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits
(0 to 9).

Python does not allow punctuation characters such as @, $, and % within identifiers.Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.

In [ ]:
# Run this cell and see the answer in boolean way(True, False) and don't worry if you don't
# Just keep in mind, there's a way to cross check the identifier.
print("abc".isidentifier())
print("99a".isidentifier())
print("_".isidentifier())
print("for".isidentifier()) # True - wrong output

True
False
True
True

In [ ]:
#convert List into string

weekdays = ['sun','mon','tue','wed','thu','fri','sat']

list_to_String = ' '.join(weekdays)
print(list_to_String)

sun mon tue wed thu fri sat

In [ ]:
#convert List into string
names = ['ram','shyam','nitin','ajay','vijay','raj']
list_to_string = ' '.join(names)
print(weaks)
print(list_to_string)

['ram', 'shyam', 'nitin', 'ajay', 'vijay', 'raj']
ram shyam nitin ajay vijay raj

In [ ]:
#convert list into tuple

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = tuple(weekdays)
print(list_to_Tuple)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [ ]:
#convert list into set

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = set(weekdays)
print(list_to_Tuple)

{'sun', 'sat', 'thu', 'wed', 'tue', 'mon', 'fri'}

In [ ]:
# count the repeated words
weekdays = ['sun','mon','tue','wed','thu','fri','sat','mon','tue','wed','thu','fri','sat','tue']

print(weekdays.count('tue'))

3

In [ ]:
''' What is NumPy array?

NumPy arrays are more flexible then lists in Python. By using NumPy arrays reading and writing items is faster and more efficient'''

In [ ]:
# What is local and global variable??

# global variable and it is not function dependant
x = "awesome"
def myfunc():
# Local variable because it is defined inside function and it has scope
 x = "fantastic"
 # here local variable gets priority when name of local and g
 print("CloudyML is " + x) 
myfunc()
print("CloudyML is " + x)

CloudyML is fantastic
CloudyML is awesome

In [ ]:
A = 'javapoint'

def myfunc():
  A = 'java'
  print(A)
myfunc()
print(A)

java
javapoint

In [ ]:
x = 'Awesome'
def myfunc():
  x = "Fantastic"
  print("it is:", x)
myfunc()
print("it is:", x)

it is: Fantastic
it is: Awesome

In [ ]:
 #String formatting method
# Method 1
quantity = 5
item_name = "Mango"
price = 10

# {} is called placeholder, so 3 placehold
order = "I want {} pieces of {} for {} dollars."
print(order.format(quantity, item_name, price))
# Method 2
order = "I want {0} pieces of {1} for {2} dollars." # here 0,1,2 tells the position of qu
print(order.format(quantity, item_name, price))
# Method 3
print(f"I want {quantity} pieces of {item_name} for {price} dollars.") # Observe the f out
 # names passed in
# Method 4
print("I want %d pieces of %s for %.0f dollars."%(quantity, item_name, price))

I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.

In [ ]:
name = 'Raman'
surname = "Magar"
print("my name is", name,"and surname is", surname)
order = "My name is {0} and Surname is {1}"
print(order.format(name,surname))
print(f"My Name is {name} and surname is {surname}")

my name is Raman and surname is Magar
My name is Raman and Surname is Magar
My Name is Raman and surname is Magar

In [ ]:
## For checking Odd Even program

number = int(input('Enter the number: '))
if (number % 2) == 0:
  print("{0} is even".format(number))
else:
  print("{0} is odd".format(number))

Enter the number: 8585255551
8585255551 is odd

In [ ]:
## Check leap year

def Checkleap(Year):
  if((Year % 400 ==0) or
    (Year % 100 !=0) and
    (Year % 4 == 0)):
    print("The given year is Leap year")
  else:
    print("The given year is not Leap year")
  

Year = int(input("Enter the number "))

Checkleap(Year)

Enter the number 2019
The given year is not Leap year

In [ ]:
def LeafChecker():
  if((year % 400 ==0) or
   (year % 100 !=0) and
   (year % 4 ==0)):
    print("given year is Leap year")
  else:
    print("given  year is not Leap year")


year = int(input("Enter the Number"))
LeafChecker()

Enter the Number2021
given  year is not Leap year

In [ ]:
## Check the given number is prime or not
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if (a %j) ==0:
        print(a, "is not prime number")
        break

    else:
      print(a,"is not prime number")
a = int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 15
15 is not prime number

In [ ]:
def PrimeChecker(a):
  if a>0:
    for j in range(2, int(a/2)+1):
      if a%j ==0:
        print('Given No is not prime.')
        break
    else:
      print('Given no is prime.')
  else:
  
    print("Given no is not prime.")
a = int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 8
Given No is not prime.

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2) +1):
      if (a%j) ==0:
        print(a, 'is not prime number')
        break
    else:
      print(a,'is prime number')
  else:
    print(a,"is not prime number")
a= int(input("Enter the number"))
PrimeChecker(a)

Enter the number7
7 is prime number

In [ ]:
## How to convert list into string
list = ['1','2','3','4']
con_to_string = ' '.join(list)
print(con_to_string)

1 2 3 4

In [ ]:
## How to convert list into tuple
list = ['1','2','3','4']
con_to_tuple = tuple(list)
print(con_to_tuple)

('1', '2', '3', '4')

In [ ]:
## How to convert list into set

list = ['1','2','3','4']
con_to_tuple = set(list)
print(con_to_tuple)

{'3', '4', '1', '2'}

In [ ]:
## How to count in a list 

list = ['1','2','2','2','4']
count = list.count('2')
print(count)

3

In [ ]:
## How to count each entity in a list 

list = ['1','2','2','3','4']
#count = list.count('1')
print([[x,list.count(x)] for x in set(list)])

[['2', 2], ['3', 1], ['4', 1], ['1', 1]]

In [ ]:
list1 = [1, 2, 3, 2, 5, 5, 3, 5,]
print([[x,list1.count(x)] for x in set(list1)])

[[1, 1], [2, 2], [3, 2], [5, 3]]

In [ ]:
print([[x, list1.count(x)] for x in set(list1)])

[[1, 1], [2, 2], [3, 2], [5, 3]]

In [ ]:
#another example
list = [1,2,3,2,4,1,3,2,3,3]
print([[x,list.count(x)] for x in set(list)])

[[1, 2], [2, 3], [3, 4], [4, 1]]

In [ ]:
# How to create numpy array in python 
import numpy as np
np.array([])
np.array([])

array([], dtype=float64)

In [ ]:
np.empty(shape=(3,4))

array([[4.17593928e-316, 2.14321575e-312, 2.37663529e-312,
        2.56761491e-312],
       [2.44029516e-312, 2.05833592e-312, 2.14321575e-312,
        8.48798317e-313],
       [9.33678148e-313, 8.70018275e-313, 8.70018274e-313,
        1.46030983e-319]])

In [ ]:
np.empty(shape=(3,2))

array([[2.9918845e-316, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000]])

In [ ]:
# Hoew to use enumrate function

subject = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subject):
   print(i, subject)

0 Python
1 Interview
2 Questions

In [ ]:
subjects = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subjects):
  print(i, subject)

0 Python
1 Interview
2 Questions

In [ ]:
subject = ('Raman', 'Ashok', 'Magar')
for i, subject in enumerate(subject):
  print(i, subject)

0 Raman
1 Ashok
2 Magar

In [ ]:
# Concatenate Funnction
print('Raman ' + 'Ashok ' + 'Magar')

Raman Ashok Magar

In [ ]:
## Set example 
items_list = {"Raman", "ashok", "Magar"}

print(items_list)
print(len(items_list))
# how to use "in" Keyword
if "Raman" in items_list:
  print('Its first Nmae')

# "not in"
if "Bopala" not in items_list:
  print("it's wrong")

{'ashok', 'Raman', 'Magar'}
3
Its first Nmae
it's wrong

In [ ]:
## SET is immutable not change but add
item = set()
item.add('Boala')
item.add('Pune')
item.add('Latur')
print(item)

TypeError: ignored

In [ ]:
## Sum of the 1 to 10
sum(range(1,11))

55

In [ ]:
sum(range(1,101))

5050

In [ ]:
## Another Way 
def GetSum(n):
  sum = 0
  for digit in str(n):
    sum += int(digit)
  return sum

n = int(input("Enter the number"))
GetSum(n)

Enter the number12345

15

In [ ]:
list_1 = [1,2,3,4,5]
list = []
def GetSum(list_1):
  sum = 0
  for digit in str(list_1):
    sum += int(digit)
  return sum
n = int(input("Enter the input "))
GetSum(n)

Enter the input 1234

10

In [ ]:
x = lambda a:a*5
print(x(5))

25

In [ ]:
# list Comphrension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x for x in fruits if "r" in x]
print(new_list)

['cherry']

In [ ]:
name_list = ("Raman", "Ashok", "Magar")
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
name_list = ("Raman", "Ashok", "Magar")
new_list = []
for x in name_list:
  if "a" in x:
    new_list.append(x)
print(new_list)

['Raman', 'Magar']

In [ ]:
name = [" abc", 'def']
new = []
for x in name:
  if 'bc' in x:
    new.append(x)
print(new)

[' abc']

In [ ]:
import array as arr
user_list = ["abs", 2, 1.2]
user_array = arr.array('i',[1,2,3])
print(user_list)
print(user_array)

['abs', 2, 1.2]
array('i', [1, 2, 3])

In [ ]:
## Indexing
list = [["ajay", 'vijay'], 'sujay', 'nijay']
print(len(list))
print(list[1][2])

3
j

In [ ]:
#Slicing
list = ["ajay", 'vijay', 'sujay', 'nijay']
print(list[0:4:3])

['ajay', 'nijay']

In [ ]:
import numpy as np

In [ ]:
npy = np.arange=(1,5)

In [ ]:
print(npy)

(1, 5)

In [ ]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
print(names2)
print(names3)


names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
  if ls[0] == 'Alice':
    sum += 1
    if ls[1] == 'Bob':
      sum += 10
print(sum)

['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']
2

In [ ]:
#multiply of list
list = [1,2,3,4,5,6,7,8,9]
avg = sum(list)/len(list)
print(avg)

TypeError: ignored

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
  
#start parameter is not provided
Sum = sum(numbers)
print(Sum)
  
# start = 10
Sum = sum(numbers, 10)
print(Sum)

In [ ]:
list_of_values = [1,2,3,4,5,1,4,5]
avg_value = sum(list_of_values)/len(list_of_values)

TypeError: ignored

In [ ]:
n= int(input("Enter The number of element to be inserted: "))
number = []
for i in range(0,n):
  element = int(input("enter the element: "))
  a.append(element)
  avg = sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter The number of element to be inserted: 2
enter the element: 12,10

ValueError: ignored

In [ ]:
 ##sum of the digits of a number in Python

n=int(input("Enter a number:"))
tot=0
while(n>0):
  dig=n%10
  tot=tot+dig
  n=n//10
print("The total sum of digits is:",tot)

Enter a number:99856
The total sum of digits is: 37

In [ ]:
n= int(input("Enter the number"))
total = 0
while(n>0):
  digit = n%10
  total = total + digit
  n = n//10
print('Given no of total is: ',total)

Enter the number123
Given no of total is:  6

In [ ]:
### Checking the palindrome
n= int(input("Enter the number: "))
templete = n
reverse = 0
while(n>0):
  digit = n%10
  reverse = reverse*10 + digit
  n = n//10
if (templete == reverse):
    print("given number is palendrome")
else:
    print("given no is not palendrome ")

Enter the number: 144
given no is not palendrome

In [ ]:
#Count the Number of Digits in a Number

n= int(input("Enter the number: "))
count = 0
while(n>0):
  count = count+1
  n= n//10
print("no of digit in list: ",count)

Enter the number: 8465654
no of digit in list:  7

In [ ]:
##Adding no into previous number

list = [1,2,3,4,5]
new_list = []
while(n>0):
  for i in list:
    new_list += list.append()+i
    n =  n//10
    print(new_list)
print(new_list)

[]

In [ ]:
# print table of given number
n= int(input("Enter the input: "))
for i in range(1,6):
  print(n, 'x', i, '=', n*i)

Enter the input: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
# print table of given number
list= int(input("Enter the input: "))
for i in range(1,5):
  print(n, 'x', i, '=', n*i)

Enter the input: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if a%j==0:
        print(a,'This is not prime')
        break
    else:
      print(a,'this is prime number')
  else:
    print(a,'this is not prime number')
a = int(input('enter the number: '))
PrimeChecker(a)

enter the number: 8
8 This is not prime

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if a%j ==0:
        print(a, "not prime")
        break
    else:
      print(a, 'is prime')
  else:
    print(a,'not prime')
a = int(input("enter no"))
PrimeChecker(a)

enter no5
5 is prime

In [1]:

import math
import os
import random
import re
import sys


#
# Complete the 'efficientJanitor' function below.
#
# The function is expected to return an INTEGER.
# The function accepts FLOAT_ARRAY weight as parameter.
#

def efficientJanitor(weight):
    # Write your code here


if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    weight_count = int(input().strip())

    weight = []

    for _ in range(weight_count):
        weight_item = float(input().strip())
        weight.append(weight_item)

    result = efficientJanitor(weight)

    fptr.write(str(result) + '\n')

    fptr.close()

IndentationError: ignored

In [2]:
def efficientJanitor(weight):
    weight.sort()
    n = len(weight)
    lo = 0
    hi = n - 1
    ans = 0
    while(lo < hi):
        # too big to pair, so decrement hi
        if(weight[lo] + weight[hi] > 3.0):
            hi = hi - 1
        # small enough to pair, so increment lo, decrement hi
        else:
            lo = lo + 1
            hi = hi - 1
        # increment trip counter in either case
        ans = ans + 1
    # a bag is left, so 1 more trip
    if(lo == hi):
        ans = ans + 1
    return ans

NameError: ignored

In [4]:
#program to reverse a number

n = int(input("please give a number : "))
print("before reverse your numeber is : %d" %n)
reverse = 0
while n!=0:
    reverse = reverse*10 + n%10       
    n = (n//10)
print("After reverse : %d" %reverse)

please give a number : 124
before reverse your numeber is : 124
After reverse : 421

In [5]:
#Program to check a number is Armstrong or not in python programming language

i=0
result=0
n = int(input("please give a number : "))
number1 = n
temp = n
while n!=0:
    n = (n//10)
    i=i+1;
while number1!=0:
    n=number1%10
    result=result+pow(n,i)
    number1=number1//10
if temp==result:
    print("number is armstrong")
else:
    print("number is not armstrong")

please give a number : 370
number is armstrong

In [7]:
#program to print Fibonacci series program in using Iterative methods

first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=iS
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 9
fibonacci series are :
0
1
1
2
3
5
8
13
21