<a href="https://colab.research.google.com/github/Ramanmagar/Python-Practice/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#how to debug the program by using debug command
python -m pdb python-script.py

##What are Identifiers ?

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits
(0 to 9).

Python does not allow punctuation characters such as @, $, and % within identifiers.Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.

In [ ]:
# Run this cell and see the answer in boolean way(True, False) and don't worry if you don't
# Just keep in mind, there's a way to cross check the identifier.
print("abc".isidentifier())
print("99a".isidentifier())
print("_".isidentifier())
print("for".isidentifier()) # True - wrong output

True
False
True
True

In [ ]:
#convert List into string

weekdays = ['sun','mon','tue','wed','thu','fri','sat']

list_to_String = ' '.join(weekdays)
print(list_to_String)

sun mon tue wed thu fri sat

In [ ]:
#convert List into string
names = ['ram','shyam','nitin','ajay','vijay','raj']
list_to_string = ' '.join(names)
print(weaks)
print(list_to_string)

['ram', 'shyam', 'nitin', 'ajay', 'vijay', 'raj']
ram shyam nitin ajay vijay raj

In [ ]:
#convert list into tuple

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = tuple(weekdays)
print(list_to_Tuple)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [ ]:
#convert list into set

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
list_to_Tuple = set(weekdays)
print(list_to_Tuple)

{'sun', 'sat', 'thu', 'wed', 'tue', 'mon', 'fri'}

In [ ]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat','mon','tue','wed','thu','fri','sat','tue']

print(weekdays.count('tue'))

3

In [ ]:
''' What is NumPy array?

NumPy arrays are more flexible then lists in Python. By using NumPy arrays reading and writing items is faster and more efficient'''

In [ ]:
# What is local and global variable??

# global variable and it is not function dependant
x = "awesome" 
def myfunc():
# Local variable because it is defined inside function and it has scope
 x = "fantastic"
 # here local variable gets priority when name of local and g
 print("CloudyML is " + x) 
myfunc()
print("CloudyML is " + x)

CloudyML is fantastic
CloudyML is awesome

In [ ]:
x = 'Awesome'
def myfunc():
  x = "Fantastic"
  print("it is:", x)
myfunc()
print("it is:", x)

it is: Fantastic
it is: Awesome

In [ ]:
 ##What if you want to call global variable with same name as local inside a function??
# Use global keyword
x = "awesome" # global variable and it is not function dependant
def myfunc():
  global x
 x = "fantastic" # Local variable because it is defined inside function and it has scope
 print("CloudyML is " + x) # here global variable gets priority because I used global k
myfunc()
print("CloudyML is " + x)

CloudyML is fantastic
CloudyML is fantastic

In [ ]:
x  = "awesome"
def myfunc():
  global x
  x= 'fantastic'
  print("it is " + x)
myfunc()
print("it is " +x)

it is fantastic
it is fantastic

In [ ]:
 #String formatting method
# Method 1
quantity = 5
item_name = "Mango"
price = 10

# {} is called placeholder, so 3 placehold
order = "I want {} pieces of {} for {} dollars."
print(order.format(quantity, item_name, price))
# Method 2
order = "I want {0} pieces of {1} for {2} dollars." # here 0,1,2 tells the position of qu
print(order.format(quantity, item_name, price))
# Method 3
print(f"I want {quantity} pieces of {item_name} for {price} dollars.") # Observe the f out
 # names passed in
# Method 4
print("I want %d pieces of %s for %.0f dollars."%(quantity, item_name, price))

I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.
I want 5 pieces of Mango for 10 dollars.

In [ ]:
#astring Formating method
#How many times excute the statement
quantity = 4
fruit_name = 'Appple'
Quantity = 15

#method 1
# {} is called placeholder, so 3 placehold
order= "I want {} pieces of {} for {} rs"
print(order.format(quantity, fruit_name, Quantity))

#method 2
order = "I want {0} pieces of {1} for {2} rs"
print(order.format(quantity, fruit_name, Quantity))

#method 3
print("I want %d pieces of %s for %0.f rs"%(quantity, fruit_name, Quantity))

I want 4 pieces of Appple for 15 rs
I want 4 pieces of Appple for 15 rs
I want 4 pieces of Appple for 15 rs

In [ ]:
## For checking Odd Even program

number = int(input('Enter the number: '))
if (number % 2) == 0:
  print("{0} is even".format(number))
else:
  print("{0} is odd".format(number))

Enter the number: 8585255551
8585255551 is odd

In [ ]:
number = int(input("Enter the number"))
if (number % 2 ) ==0:
  print("{0} is even:".format(number))
else:
  print("{0} is odd:".format(number))

Enter the number16
16 is even:

In [ ]:
## Check leap year

def Checkleap(Year):
  if((Year % 400 ==0) or
    (Year % 100 !=0) and
    (Year % 4 == 0)):
    print("The given year is Leap year")
  else:
    print("The given year is not Leap year")
  

Year = int(input("Enter the number "))

Checkleap(Year)

Enter the number 2019
The given year is not Leap year

In [ ]:
## Check the given number is prime or not
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if (a %j) ==0:
        print(a, "is not prime number")
        break

    else:
      print(a,"is not prime number")
a = int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 15
15 is not prime number

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2) +1):
      if (a%j) ==0:
        print(a, 'is not prime number')
        break
    else:
      print(a,'is prime number')
  else:
    print(a,"is not prime number")
a= int(input("Enter the number"))
PrimeChecker(a)

Enter the number7
7 is prime number

In [ ]:
def PrimeChecker(a):
  if a>1:
    for j in range(2, int(a/2)+1):
      if (a%j)==0:
        print(a, 'is not prime number')
        break
    else:
      print(a,"is prime number")
  else:
    print(a,"is not prime number")
a= int(input("Enter the number: "))
PrimeChecker(a)

Enter the number: 7
7 is prime number

In [ ]:
def Leapyear(year):
  if((year == 400) or
     (year != 100)and
     (year == 4)):
    print('This is not leap year')
  else:
    print("This is leap year")
year = int(input('Enther The Year: '))
Leapyear(year)

Enther The Year: 2020
This is leap year

In [ ]:
## How to convert list into string
list = ['1','2','3','4']
con_to_string = ' '.join(list)
print(con_to_string)

1 2 3 4

In [ ]:
## How to convert list into tuple
list = ['1','2','3','4']
con_to_tuple = tuple(list)
print(con_to_tuple)

('1', '2', '3', '4')

In [ ]:
## How to convert list into set

list = ['1','2','3','4']
con_to_tuple = set(list)
print(con_to_tuple)

{'3', '4', '1', '2'}

In [ ]:
## How to count in a list 

list = ['1','2','2','3','4']
count = list.count('2')
print(count)

2

In [ ]:
## How to count each entity in a list 

list = ['1','2','2','3','4']
count = list.count('2')
print([[x,list.count(x)] for x in set(list)])

[['3', 1], ['4', 1], ['1', 1], ['2', 2]]

In [ ]:
#another example
list = [1,2,3,2,4,1,3,2,3,3]
print([[x,list.count(x)] for x in set(list)])

[[1, 2], [2, 3], [3, 4], [4, 1]]

In [ ]:
# How to create numpy array in python 
import numpy as np
np.array([])

array([], dtype=float64)

In [ ]:
np.empty(shape=(3,2))

array([[2.9918845e-316, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000]])

In [ ]:
np.empty(shape=(5,4))

array([[1.3623311e-316, 0.0000000e+000, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000, 0.0000000e+000]])

In [ ]:
# Hoew to use enumrate function

subject = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subject):
   print(i, subject)

0 Python
1 Interview
2 Questions

In [ ]:
subjects = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subjects):
  print(i, subject)

0 Python
1 Interview
2 Questions

In [ ]:
subject = ('Raman', 'Ashok', 'Magar')
for i, subject in enumerate(subject):
  print(i, subject)

0 Raman
1 Ashok
2 Magar

In [ ]:
# Concatenate Funnction
print('Raman ' + 'Ashok ' + 'Magar')

Raman Ashok Magar

In [ ]:
## Set example 
items_list = {"Raman", "ashok", "Magar"}

print(items_list)
print(len(items_list))
# how to use "in" Keyword
if "Raman" in items_list:
  print('Its first Nmae')

# "not in"
if "Bopala" not in items_list:
  print("it's wrong")

{'ashok', 'Raman', 'Magar'}
3
Its first Nmae
it's wrong

In [ ]:
## SET is immutable not change but add
item = set()
item.add('Boala')
item.add('Pune')
item.add('Latur')
print(item)

TypeError: ignored

In [ ]:
## Sum of the 1 to 10
sum(range(1,11))

55

In [ ]:
sum(range(1,101))

5050

In [ ]:
## Another Way 
def GetSum(n):
  sum = 0
  for digit in str(n):
    sum += int(digit)
  return sum

n = int(input("Enter the number"))
GetSum(n)

Enter the number12345

15

In [ ]:
list("hello")
print(list)

TypeError: ignored

In [ ]:
x = lambda a:a*5
print(x(5))

25

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
name_list = ("Raman", "Ashok", "Magar")
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
name_list = ("Raman", "Ashok", "Magar")
new_list = []
for x in name_list:
  if "a" in x:
    new_list.append(x)
print(new_list)

['Raman', 'Magar']

In [ ]:
name = [" abc", 'def']
new = []
for x in name:
  if "d" in x:
    new.append(x)
print(new)

['def']

In [ ]:
import array as arr
user_list = ["abs", 2, 1.2]
user_array = arr.array('i',[1,2,3])
print(user_list)
print(user_array)

['abs', 2, 1.2]
array('i', [1, 2, 3])