<a href="https://colab.research.google.com/github/Ramanmagar/Python-Practice/blob/main/Python_Practice_80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q 1. How do we create numerical variables in python?

In [ ]:
pi = 3.14
diameter = 3
radius = diameter/2
Area = pi*radius*radius

In [ ]:
print(Area)

7.0649999999999995

In [ ]:
a= 'a\a'
print(len(a))

2

In [ ]:
## Use of Range function 
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [ ]:
string = 'Hii, you are welcome'
x = string.split()
print(x)

['Hii,', 'you', 'are', 'welcome']

In [ ]:
## Create a dictionary

roll_no = [2,4,5,6]
name = ['bob', 'con', 'don', 'raj']
new_dict = {i:j for (i,j) in  zip(roll_no,name)}
print(new_dict)

{2: 'bob', 4: 'con', 5: 'don', 6: 'raj'}

In [ ]:
print(new_dict.keys())
print(new_dict.values())
print(new_dict.items())

dict_keys([2, 4, 5, 6])
dict_values(['bob', 'con', 'don', 'raj'])
dict_items([(2, 'bob'), (4, 'con'), (5, 'don'), (6, 'raj')])

In [ ]:
Stringname = 'python'

Stringname[::-1]

'nohtyp'

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
## How to create dataframe from list
new_df = pd.DataFrame([[21,34],[25,30]],columns=['Apple', 'Banana'],index=['2017 sales', '2018 sales'])
print(new_df)

            Apple  Banana
2017 sales     21      34
2018 sales     25      30

In [ ]:
new_df

            Apple  Banana
2017 sales     21      34
2018 sales     25      30

In [ ]:
list1 = ['raman', 'ashok', 'Magar']
list2 = [2,3,4]
df = pd.DataFrame([list1,list2], columns=["A","B","C"])

In [ ]:
df

       A      B      C
0  raman  ashok  Magar
1      2      3      4

In [ ]:
new_df2 = pd.DataFrame({2:'bob', 4:'con', 5:'don', 6:'raj'}, index=["a","b",'c'])

In [ ]:
new_df2

     2    4    5    6
a  bob  con  don  raj
b  bob  con  don  raj
c  bob  con  don  raj

In [ ]:
new_df2[2]

a    bob
b    bob
c    bob
Name: 2, dtype: object

In [ ]:
new_df2.iloc[0]

2    bob
4    con
5    don
6    raj
Name: a, dtype: object

In [ ]:
new_df2[2].iloc[0]

'bob'

In [ ]:
new_df['Banana'].median()

32.0

In [ ]:
new_df2[2].unique()

array(['bob'], dtype=object)

In [ ]:
new_df2.drop([6], axis = 1, inplace = True)

In [ ]:
new_df2

     2    4    5
a  bob  con  don
b  bob  con  don
c  bob  con  don

In [1]:
import pandas as pd
a=[1,2,3]
b=[2,3,5]
d={"col1":a,"col2":b}
df=pd.DataFrame(d)
df["Sum"]=df["col1"]+df["col2"]
df["Difference"]=df["col1"]-df["col2"]
df

   col1  col2  Sum  Difference
0     1     2    3          -1
1     2     3    5          -1
2     3     5    8          -2

In [2]:
##Given the following data frame drop rows having column values as A.

d={"col1":[1,2,3],"col2":["A","B","C"]}
df=pd.DataFrame(d)
df.dropna(inplace=True)
df=df[df.col1!=1]
df

   col1 col2
1     2    B
2     3    C

In [ ]:
#Given the below dataset find the highest paid player in each college in each team.
df.groupby(["Team","College"])["Salary"].max()

In [ ]:
#Given the above dataset find the min max and average salary of a player collegewise and teamwise.


df.groupby(["Team","College"])["Salary"].max.agg([('max','max'),('min','min'),('count','count'),('avg','min')])

In [4]:
##What is Reindexing in pandas?
#Reindexing is the process of re-assigning the index of a pandas dataframe.

import pandas as pd
bikes=["bajaj","tvs","herohonda","kawasaki","bmw"]
cars=["lamborghini","masserati","ferrari","hyundai","ford"]
d={"cars":cars,"bikes":bikes}
df=pd.DataFrame(d)
a=[10,20,30,40,50]
df.index=a
df

           cars      bikes
10  lamborghini      bajaj
20    masserati        tvs
30      ferrari  herohonda
40      hyundai   kawasaki
50         ford        bmw

In [5]:
#What do you understand by lambda function? Create a lambda function which will print the sum of all the elements in this list -> [5, 8, 10, 20, 50, 100]
from functools import reduce
sequences = [5, 8, 10, 20, 50, 100]
sum = reduce (lambda x, y: x+y, sequences)
print(sum)

193